<h2>Olá {{name}}</h2>

<p>Seu pagamento de créditos no valor de R$ {{credits}} foi reprovado.</p>
<p>Para acessar o portal e tentar adquriri novamente mais créditos <a href="{{link}}">clique aqui</a></p>