<h2>Olá {{name}}</h2>

<p>Seu pagamento de créditos no valor de R$ {{credits}} está em análise.</p>
<p>Para acessar o portal e adquririr mais créditos e asisstir mais aulas, <a href="{{link}}">clique aqui</a></p>