<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles_main.css">
    <script src="https://kit.fontawesome.com/2623fd239d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app" class="container">
        <section>
            {{> header_main}}
        </section>
        <section>
            {{{ body }}}
        </section>
        <section class="text-center">
            EAD - Todos direitos reservados {{ date }}
        </section>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render=6Le-oOkUAAAAAKQWAbSdpnCS8xNlG5QcLyLqLxQF"></script>
    <script src="/main.js"></script>
</body>

</html>