<section class="login_area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <form action="#">
                    <div class="cardify login text-center p-3">
                        <h3>Sinto muito</h3>
                        <p>O prazo de validade para alterar sua senha passou, por favor tente gerar outro link e
                            atualizar novamente.</p>
                        <p>O prazo de validade de cada link é de duas horas</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>