{{#if updated}}
<div class="alert alert-success text-center mt-3 w-50 mb-3" style="margin:0 auto;" role="alert">
    Conta ativada com sucesso

</div>
{{else}}
<div class="alert alert-danger text-center mt-3 w-50 mb-3" role="danger" style="margin:0 auto;">
    Ocorreu um erro ao ativar sua conta, clique novamente no link enviado para seu email.
</div>
{{/if}}