{{#if updated}}
<div class="alert alert-success p-2 text-center">Conta ativada com sucesso</div>
{{else}}
<div class="alert alert-danger p-2 text-center">Ocorreu um erro ao tivar sua conta, por favor tente novamente em alguns
    segundos.
</div>
{{/if}}