<section class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="faq-box">
                    <div class="faq-head">
                        <h4>For Authors (45)</h4>
                    </div>
                    <div class="faq-content">
                        <ul class="list-unstyled">
                            <li>
                                <a href="">How can I update a theme that is live on DigiPro?</a>
                            </li>
                            <li>
                                <a href="">How to write the changelog for theme updates?</a>
                            </li>
                            <li>
                                <a href="">Do you have any guideline on item promotions?</a>
                            </li>
                            <li>
                                <a href="">Why my item has been rejected?</a>
                            </li>
                            <li>
                                <a href="">I’ve submitted an item, how much time will require to be live on?</a>
                            </li>
                            <li>
                                <a href="">What links or texts can I put in the item description, demo and downloadable
                                    package?</a>
                            </li>
                        </ul>
                        <a href="" class="link-more">View All Articles
                            <span class="icon icon-arrow-right-circle"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>