{{#with lesson}}

<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-contents">
          <h2 class="page-title">{{ title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<lesson :lesson="{{lesson_data}}" :is_authenticated="{{is_authenticated}}"></lesson>

{{/with}}