{{#if is_authenticated}}

<div class="w-50 text-center mt-3" style="margin:auto;">
    <div class="alert alert-primary" role="alert">
        Você já está logado !
    </div>

</div>

{{else}}
<Login></Login>
{{/if}}