<div class="main-content">
    <div class="container-fluid">
        <div class="panel panel-profile">
            <div class="clearfix">
                <Lessons></Lessons>
            </div>
        </div>
    </div>
</div>